<div class="initiative--card">
  <div class="image">
    <%= link_to "", "#", class: "hit-area" %>
  </div>
  <div class="content">
    <header>
      <h2>
        <%= link_to "小标题", "#" %>
      </h2>
      <p>
        文字描述
      </p>
    </header>
  </div>
  <footer>
    <%= link_to "更多...", "#" -%>
  </footer>
</div>

