<div class="masthead--home" style="background-image: url(<%= @masthead.try(:image_url) %>);">
</div>
<div class="contain">
  <div class="masthead--home-text">
    <h1>
      <%= @masthead.try(:header_text) %>
    </h1>
    <h2>
      <%= @masthead.try(:byline_text) %>
    </h2>
  </div>

</div>

<div class="contain">
  <%- if @tablets.present? -%>
    <div class="initiatives--card-list ">
      <%= render partial: 'initiatives/card', collection: @tablets, as: :tablet %>
    </div>
  <%- end -%>
</div>