<div class="masthead--home">
</div>
<div class="contain">
  <div class="masthead--home-text">
    <h1>
      软 枣 生 产 基 地
    </h1>
    <h2>
      基地1500余亩，种植面积位居全国首位
    </h2>
  </div>

</div>

<div class="contain">
  <%- if @tablets.present? -%>
    <div class="initiatives--card-list ">
      <%= render partial: 'initiatives/card', collection: @tablets, as: :tablet %>
    </div>
  <%- end -%>
</div>