<footer class="layout--footer">

  <div class="contain">
    <div class="brand--calvert">
      <!-- place image here -->
    </div>
  </div>

  <div class="legal contain">
    <div class="copyright">
      <strong>&copy; <%= Date.today.year %> 本溪绿康生态农业有限公司 </strong>
      <span>版权所有</span>
    </div>
    <div class="disclaimer">
      <p>
        本溪绿康生态农业有限公司位于辽宁省本溪满族自治县东营坊乡，是一家集野生软枣研发、种植、生产运营于一体的科研型企业，野生软枣猕猴桃（俗称软枣子）种植基地1500余亩，种植面积位居全国首位。
        公司拥有一支专业技术过硬的科技研发团队，其软枣子种植技术成熟，自2012年软枣子果实生产以来，公司坚持生产与科研相结合，充分利用辽东山区天然的资源优势，大力开发野生软枣猕猴桃资源，开发 “康C软枣子”的软枣猕猴桃，是目前市场上唯一一家优质大果的软枣子生产企业.
      </p>
    </div>
</footer>
