<header class="layout--header">

  <h1 class="brand--vested">
    <%= link_to "本溪绿康", root_path %>
  </h1>

  <nav>
    <ul>
      <li>
        <%= link_to "关于我们", "#" %>
      </li>
      <li>
        <%= link_to "联系我们", "#" %>
      </li>
      <li>
        <%= link_to "回到主页", root_path %>
      </li>
    </ul>
  </nav>

</header>